PAYLOAD_SECRET=YOUR_SECRET_HERE

SOCIAL_LOGIN_GOOGLE_CLIENT_ID=XXXXXXXXXXXXXXXXXx
SOCIAL_LOGIN_GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXXXXXXx

SOCIAL_LOGIN_MICROSOFT_CLIENT_ID=XXXXXXXXXXXXXXXXXx
SOCIAL_LOGIN_MICROSOFT_CLIENT_SECRET=XXXXXXXXXXXXXXXXXx